<div>
    <h3>Video</h3>
    <input type='file' #videoFile (change)="handleVideoFile($event)" *ngIf="!videoBlob">
    <video  #videoPlayer controls></video>
</div>

<div id='transcript-container'>
    <h3>Transcript</h3>
    <button *ngIf="transcript" (click)="exportTranscript()">Export Transcript</button>


    <input type='file' #transcriptFile (change)="handleTranscriptFile($event)" *ngIf="!transcript">
    <table *ngIf="transcript">
        <tr><th>Speaker</th><th>Text</th><th>Time</th></tr>
        <tr *ngFor="let entry of transcript" [ngClass]="{'active': entry === activeEntry}" (click)="setActiveEntry(entry)">
            <td>{{entry.speaker}}</td>
            <td>{{entry.text}}</td>
            <td>{{entry.time}} <button (click)="setTime($event, entry)" *ngIf="activeEntry === entry">set</button></td>
        </tr>
    </table>
</div>